@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  background: rgb(88,164,199);
  background: radial-gradient(circle, rgba(88,164,199,1) 0%, rgba(0,30,36,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
